
.some {
  margin-top: 10px;
    display: flex;
    justify-content: space-between; /* или другие значения в зависимости от ваших предпочтений */
    align-items: center; /* или другие значения в зависимости от ваших предпочтений */
  }
  
  .something {
    margin: 2px;
  }

 
